<h1>Tareas</h1>

<a href="/tareas/sin_completar">Lista de tareas sin completar</a><br>
<a href="/tareas/completadas">Lista de tareas completadas</a><br>
<a href="/tareas/crear">Crear tareas</a><br>
<a href="/tareas/completar">Completar tareas</a><br>
<a href="/tareas/borrar">Borrar tareas</a><br>